{{ define "toolbar" }}
  
{{ end }}

{{ define "main" }}
  <div class="mt-8">
    <h1 class="font-heading text-3xl mb-10 px-4 dark:text-gray-100">
      {{ .Title }}
    </h1>

    <noscript>
      <p>Einstellungen sind ohne JavaScript nicht verfügbar.</p>
    </noscript>

    <div class="grid grid-cols-2 sm:grid-cols-1 px-4 gap-y-12 items-start sm:gap-y-4">
      {{ partial "settings/select.html" ( dict "label" "Farbschema" "description" "Aktuell wird nur das automatische Farbschema unterstützt, das sich an die aktuellen Systemeinstellungen richtet. Das ist eine Einschränkung von TailwindCSS." "values" ( slice ( slice "theme-light" "Hell" ) ( slice "theme-dark" "Dunkel" ) ( slice "theme-auto" "Automatisch" ) ) ) }}
      {{ partial "settings/toggle.html" ( dict "label" "Als App installieren" "description" "Wenn die Webseite als App installiert wird, kann sie über den Home-Screen, das Start-Menü o. ä. geöffnet werden." "value" "install" "buttonLabelOff" "Installieren" "buttonLabelOn" "Ist bereits installiert" ) }}
      {{ partial "settings/select.html" ( dict "label" "Benachrichtigungen" "description" "Möchtest du sofort über neue Beiträge benachrichtigt werden, auch wenn du die Webseite gerade nicht geöffnet hast?" "values" ( slice ( slice "notification-yes" "Ja" ) ( slice "notification-no" "Nein" ) ) ) }}
      {{ partial "settings/select.html" ( dict "label" "Offline-Modus" "description" "Im Offline-Modus kann die Seite auch ohne Internerverbindung aufgerufen werden." "values" ( slice ( slice "offline-yes" "Ja" ) ( slice "offline-no" "Nein" ) ) ) }}
    </div>
  </div>
{{ end }}