{% extends '_layouts/default.njk' %}

{% from '_components/defaultPageHeader.njk' import defaultPageHeader %}
{% from '_components/articleTeaser.njk' import articleTeaser %}

{% set themeColor = globals.meta.color.secondaryLight %}
{% set pageTitle = matterValue %}
{% set pageDescription = 'Beiträge zum Thema "' + matterValue + '" - ' + globals.meta.description %}

{% block content %}
  {{ defaultPageHeader() }}
  <div class="page-content">
    <h1 class="page-content__title">Beiträge zum Thema "{{ matterValue }}"</h1>
    <div class="page-content__back-link"><a href="/">« Zurück zu allen Beiträgen</a></div>

    {% for entry in entries %}
      {{ articleTeaser(
        title = entry.matter.data.title,
        url = entry.filename,
        date = entry.matter.data.date,
        tags = entry.matter.data.tags
      ) }}
    {% endfor %}
  </div>
{% endblock %}