{% from '_components/mainNavigation.njk' import mainNavigation %}
{% from '_components/logo.njk' import logo %}

{% macro articlePageHeader(topline, headline, publishDate, updateDate) %}
<div class="article-page-header">
  <div class="article-page-header__top-bar">
    <div class="article-page-header__logo">{{ logo(type='dark') }}</div>
    {{ mainNavigation(type = 'dark') }}
  </div>
  <div class="article-page-header__topline">{{ topline | tagLinks | safe }}</div>
  <h1 class="article-page-header__title">{{ headline }}</h1>
  <div class="article-page-header__metadata">
    {{ publishDate | date }}
    {% if updateDate %}• Aktualisiert: {{ updateDate | date }}{% endif %}
  </div>
  <img class="article-page-header__graphic" src="/assets/images/layout/article-page-header__graphic.svg">
</div>
{% endmacro %}