{% from '_components/mainNavigation.njk' import mainNavigation %}

{% macro articlePageHeader(topline, headline, metadata) %}
<div class="article-page-header">
  <div class="article-page-header__top-bar">
    <div class="article-page-header__logo">Linnert Media</div>
    {{ mainNavigation() }}
  </div>
  <div class="article-page-header__topline">{{ topline }}</div>
  <div class="article-page-header__title">{{ headline }}</div>
  <div class="article-page-header__metadata">{{ metadata }}</div>
</div>
{% endmacro %}