<div class="page-header">
  <div class="page-header__logo">Linnert Media</div>
  <div class="page-header__tag">{{ tag }}</div>
  <div class="page-header__title">{{ title }}</div>
  <div class="page-header__metadata">{{ metadata }}</div>
</div>