{% macro articleTeaser(title, url, date, tags) %}
  <article class="article-teaser">
    <div class="article-teaser__topline">
      {{ date | date }} •
      {{ tags | tagLinks | safe }}
    </div>
    <h1 class="article-teaser__title"><a href="/blog/{{ url }}">{{ title }}</a></h1>
  </article>
{% endmacro %}