{% from '_components/mainNavigation.njk' import mainNavigation %}
{% from '_components/logo.njk' import logo %}

{% macro defaultPageHeader() %}
<div class="default-page-header">
  <div class="default-page-header__top-bar">
    <div class="default-page-header__logo">{{ logo() }}</div>
    {{ mainNavigation() }}
  </div>
</div>
{% endmacro %}