{% macro logo(type = 'light') %}
{% set baseClass = type + '-logo' %}
<a href="/">
  <div class="{{ baseClass }}">
    <div class="{{ baseClass }}__part-a">linnert</div>
    <div class="{{ baseClass }}__part-b">media</div>
  </div>
</a>
{% endmacro %}