<label
  for="{{ .value }}"
  class="
    bg-gray-200 px-4 py-2
    first-type:rounded-l
    last:rounded-r
    hover:bg-gray-300
    font-semibold text-sm
    relative z-0
    outline-none ring-opacity-60 ring-offset-1
    after-focus:ring-2 after-focus:ring-brand-600 after-focus:z-10
    after-checked:bg-brand-800 after-checked:text-brand-50
    dark:bg-gray-600 dark:text-gray-50
    dark:after-focus:ring-brand-400 dark:after-focus:ring-offset-gray-700
    dark:hover:bg-gray-500
    dark:after-checked:bg-gray-300 dark:after-checked:text-brand-700
  "
>
  {{ if and .labelNotChecked .labelChecked }}
    <span class="hidden not-checked-label:inline">{{ .labelNotChecked }}</span>
    <span class="hidden checked-label:inline">{{ .labelChecked }}</span>
  {{ else if .label }}
    <span>{{ .label }}</span>
  {{ else }}
    <span>NO LABEL!!!</span>
  {{ end }}
</label>
