<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Linnert Media</title>

  <meta name="theme-color" content="#0e7490">

  {{- with .OutputFormats.Get "rss" -}}
    {{- printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML -}}
  {{- end -}}

  {{- $css := resources.Get "css/main.css" | resources.PostCSS -}}

  {{- if .Site.IsServer -}}
    {{- $style := $css -}}
    <link rel="stylesheet" href="{{- $style.Permalink -}}">
  {{- else -}}
    {{- $style := $css | resources.Minify | resources.Fingerprint "sha512" -}}
    <link
      rel="stylesheet"
      href="{{- $style.Permalink -}}"
      integrity="{{- $style.Data.Integrity -}}"
      crossorigin="anonymous"
    >
  {{- end -}}
</head>
<body>
  <div class="min-h-screen dark:bg-gray-700">
    {{- partial "global/header.html" . -}}
    
    {{- block "toolbar" . -}} {{- end -}}
    
    <main class="max-w-3xl mx-auto">
      {{- block "main" . -}} {{- end -}}
    </main>
  </div>
  
  <script src="/js/index.js" type="module"></script>
</body>
</html>