@mixin basePageHeader() {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  margin-bottom: 100px;
  position: relative;

  &__top-bar {
    display: flex;
    align-items: center;
    width: $settings-page-width;
    max-width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;

    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__topline {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: $settings-page-width;
    max-width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }

  &__title {
    font-family: $font-set-lora;
    font-size: 34px;
    text-align: center;
    letter-spacing: 2px;
    width: $settings-page-width;
    max-width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  &__metadata {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: $settings-page-width;
    max-width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
}