.article-teaser {
  .page-content__title + &,
  .page-content__back-link-box + & {
    margin-top: 40px;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &__topline {
    color: $color-subtle-text;
    font-size: 16px;
  }

  &__date {
    margin-right: 10px;
  }

  &__title {
    color: $color-headline-text;
    font: {
      family: $font-set-roboto;
      size: 22px;
      weight: 600;
    }
    letter-spacing: 0.5px;
    margin-top: 8px;
  }

  &__title a {
    &:hover {
      color: $color-primary-text-on-light;
    }
  }
}
