.article-content {
  @include baseContent();
  font-family: $font-set-lora;
  font-size: $font-size-body;
  line-height: $line-height-body;

  a {
    color: $color-primary-text-on-light;

    &:hover {
      text-decoration: underline;
    }
  }

  .info {
    color: $color-secondary-text-on-light;
    background-color: $color-secondary-background-light;
    padding: 1px 20px;
    margin-left: -20px;
    margin-right: -20px;
  }

  > h1,
  > h2 {
    font-weight: bold;
    font-size: inherit;
    margin-top: ($font-size-body * $line-height-body * 2);
    margin-bottom: ($font-size-body * $line-height-body);
  }

  > p {
    margin-bottom: 36px;
  }

  > p > img {
    margin-left: -20px;
    margin-right: -20px;
    max-width: calc(100% + 40px);
  }
}
