.info-box {
  background-color: $color-secondary-background-light;
  border: 1px solid $color-secondary-border-light;
  padding: 20px;
  margin: 36px -20px;

  @media (max-width: #{$settings-page-width}) {
    border: {
      left: none;
      right: none;
    }
  }

  &__title {
    font-weight: bold;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}