.main-navigation {
  margin-left: auto;

  @media (max-width: 700px) {
    margin-left: 0;
    margin-top: 20px;
  }

  &__items {
    display: flex;
    margin-left: auto;
  }

  &__item {
    letter-spacing: 0.5px;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__item-link {
    padding: 8px 14px;
    border-radius: 4px;
  }

  &--type-light &__item-link:hover {
    background-color: darken($color-secondary-background-light, 10%);
  }

  &--type-dark &__item-link:hover {
    background-color: lighten($color-secondary-background, 10%);
  }
}
