.page-content {
  @include baseContent();

  &__title {
    display: flex;
    align-items: flex-end;
  }
  
  &__title-link {
    margin-left: auto;
    color: $color-primary-text-on-light;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    letter-spacing: 1px;

    &:hover {
      text-decoration: underline;
    }
  }
}