{% extends '_layouts/default.njk' %}

{% set themeColor = '#2c3f52' %}
{% set pageTitle = matter.data.title %}

{% from "_components/articlePageHeader.njk" import articlePageHeader %}

{% block content %}
  {{
    articlePageHeader(
      topline = matter.data.tags,
      headline = matter.data.title,
      metadata = matter.data.date
    )
  }}
  <article class="article-content">{{ contentHtml | safe }}</article>
{% endblock %}