{% extends '_layouts/default.njk' %}

{% set themeColor = globals.meta.color.secondaryDark %}
{% set pageTitle = matter.data.title %}
{% set pageDescription = matter.data.description %}

{% from "_components/articlePageHeader.njk" import articlePageHeader %}

{% block content %}
  {{
    articlePageHeader(
      topline = matter.data.tags,
      headline = matter.data.title,
      publishDate = matter.data.date,
      updateDate = matter.data.update
    )
  }}
  <article class="article-content">{{ contentHtml | safe }}</article>
{% endblock %}