{% layout '_layouts/default' %}

{% block content %}
  {%
    include '_components/article-header',
    tag: matter.data.tags,
    title: matter.data.title,
    metadata: matter.data.date
  %}
  <article>
    <h1>{{ matter.data.title }}</h1>
    <div class="article-content">{{ contentHtml }}</div>
  </article>
{% endblock %}