<div class="py-4 bg-gray-100 text-sm">
  <div class="max-w-3xl mx-auto px-2">
    <div class="flex">
      <div>
        {{ if eq .tag nil }}
          <h1 class="font-semibold">Alle Beiträge</h1>
        {{ else if eq .tag "*" }}
          <h1 class="font-semibold">Alle Tags</h1>
        {{ else }}
          <h1>
            <a href="/" class="link--toolbar">Alle Beiträge</a>
            <span class="px-1">›</span>
            <span class="font-semibold">{{ .tag }}</span>
          </h1>
        {{ end }}
      </div>

      <div class="border-l border-gray-400 border-solid ml-4 h-3 self-center"></div>

      {{ if eq .tag "*" }}
        <div class="ml-4">
          <a href="/" class="link--toolbar">Alle Beiträge anzeigen</a>
        </div>
      {{ else }}
        <div class="ml-4">
          <a href="/tags" class="link--toolbar">Alle Tags anzeigen</a>
        </div>
      {{ end }}

      <div class="ml-auto"></div>

      {{ if ne .tag "*" }}
        <div class="ml-4">
          {{ if eq .tag nil }}
            <a href="#" class="link--toolbar">Alle Beiträge abonnieren</a>
          {{ else }}
            <a href="#" class="link--toolbar">"{{ .tag }}" abonnieren</a>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
</div>