<li class="sm:flex-grow sm:text-center">
  <a
    href="{{ .href }}"
    class="
      text-brand-50
      sm:block sm:py-2 sm:text-xs
      outline-none
      px-3 py-2
      rounded
      dark:focus:bg-gray-900
      hover:text-brand-100
      dark:text-gray-50
      dark:hover:text-gray-200
      sm:focus:bg-gray-200
      sm:p-0
      
      <!-- Light -->
      {{ if .isCurrent }}
        bg-brand-100
        text-brand-900
        hover:text-brand-900
        sm:bg-transparent
        sm:text-brand-500
        sm:hover:text-brand-500
      {{ else }}
        sm:text-gray-500
        sm:hover:text-gray-600
      {{ end }}
      
      <!-- Dark -->
      {{ if .isCurrent }}
        dark:bg-gray-600
        dark:text-gray-50
        sm:dark:text-brand-300
        sm:dark:hover:text-brand-300
      {{ else }}
        sm:dark:text-gray-400
        sm:dark:hover:text-gray-50
      {{ end }}
      "
  >
    <div class="hidden sm:flex justify-center pb-1">
      {{ partial "general/icon.html" ( dict "name" .icon ) }}
    </div>
    <span>{{ .text }}</span>
  </a>
</li>