<article class="px-4">
  <div class="mb-1">
    <div class="text-gray-600 prose prose-lg dark:prose-dark">
      <h2>{{- .Title -}}</h2>
      {{- .Content -}}
    </div>

    <div class="flex flex-col items-start gap-2 mt-4">
      {{- $linkTypes := slice "website" "github" -}}
      {{- $links := .Params.links -}}

      {{- range $linkTypes -}}
        {{- if isset $links . -}}
          {{- $url := ( index $links . ) -}}
          {{- $type := . -}}
      
          {{- partial "general/iconlink.html" ( dict "type" $type "url" $url ) -}}
        {{- end -}}
      {{- end -}}
    </div>
  </div>
</article>
