:root {
  font-family: Lora, serif; }

body {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

h1, h2 {
  color: #29a366;
  background-color: #1f3347;
  font-weight: normal; }

.page-navigation {
  text-align: center;
  display: flex; }
  .page-navigation__logo {
    flex: 0 0 auto; }
  .page-navigation__menu {
    flex: 0 0 auto; }

.page-menu__link {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 10px; }

.page-logo {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4px; }
  .page-logo__first {
    color: #29a366; }
  .page-logo__last {
    color: #1f3347; }
