$color-headline-text: hsl(0, 0, 20);
$color-primary-text-on-light: hsl(150, 50, 40);
$color-primary-text-on-dark: hsl(150, 50, 60);
$color-secondary-background: hsl(210, 30, 25);
$color-secondary-background-light: hsl(210, 30, 90);
$color-secondary-text-on-light: hsl(210, 30, 25);
$color-secondary-text-on-dark: hsl(210, 30, 80);
$color-secondary-text-bright: hsl(210, 30, 40);
$color-navigation-link-on-secondary-background: hsl(210, 0, 100);
$color-navigation-link-on-secondary-background-light: hsl(210, 20, 50);
$color-weak-text: hsl(0, 0, 30);
$color-subtle-text: hsl(0, 0, 50);
$color-subtle-background: hsl(0, 0, 95);