ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-size: 21px;
  font-family: Lora, serif;
  margin-top: (21px * 1.7 * 2);
  margin-bottom: (21px * 1.7);
}

pre[class*="language-"] {
  display: block;
  line-height: 1.2;
  margin-top: 0;
  margin-left: -20px;
  margin-right: -20px;
  border: none;
  background-color: #f2f2f2;
}

pre > code {
  font-family: Roboto Mono, monospace;
  font-size: 14px;
}