ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  font-size: $font-size-body;
  font-weight: normal;
}

h2 {
  font-size: $font-size-body;
  font-family: $font-set-lora;
  font-weight: normal;
  margin-top: ($font-size-body * $line-height-body * 2);
  margin-bottom: ($font-size-body * $line-height-body);
}

pre[class*="language-"] {
  display: block;
  line-height: 1.2;
  margin-top: 0;
  margin-left: -20px;
  margin-right: -20px;
  border: none;
  background-color: $color-secondary-background-light;
}

pre > code {
  font-size: 14px;
}