{% extends '_layouts/default.njk' %}

{% set pageTitle = 'Autor' %}

{% from '_components/defaultPageHeader.njk' import defaultPageHeader %}

{% block content %}
  {{ defaultPageHeader() }}
  <p>Über mich...</p>
{% endblock %}
