{% extends '_layouts/default.njk' %}

{% set themeColor = globals.meta.color.secondaryLight %}
{% set pageTitle = 'Autor' %}
{% set pageDescription = globals.meta.description %}

{% from '_components/defaultPageHeader.njk' import defaultPageHeader %}

{% block content %}
  {{ defaultPageHeader() }}

  <article class="article-content">
    <h1>Infos zum Blog</h1>
    <p>Dies ist ein <i>Open-Source-Blog</i> zum Thema Web-Entwicklung ‒ primär JavaScript.</p>
    <h2>Was ist ein "Open-Source-Blog"?</h2>
    <p>Das heißt im Endeffekt, dass der Quellcode dieser Webseite auf <a href="https://github.com/alinnert/linnertmedia">GitHub</a> liegt. Auch die Kommunikation rund ums Blog wird darüber ablaufen. Wenn Vorschläge für neue Artikel habt oder sonstige Anmerkungen, Fragen, Vorschläge: Erstellt einfach ein <a href="https://github.com/alinnert/linnertmedia/issues">neues Issue</a>.</p>
    <h2>Welche Technik steckt hinter dem Blog?</h2>
    <p>Primär werkelt bei der Erstellung der Webseite ein in <a href="http://www.typescriptlang.org/">TypeScript</a> und mithilfe von <a href="https://github.com/ReactiveX/rxjs">RxJS</a> selbstentwickelter Static Site Generator. Für Stylesheets wird <a href="http://sass-lang.com/">Sass</a> verwendet und Templates liegen in <a href="https://github.com/mozilla/nunjucks">Nunjucks</a>-Templates vor. Das Build-System selbst wird von <a href="https://gulpjs.com/">Gulp</a> angestoßen. Clientseitig wird derzeit kein JavaScript-Code ausgeliefert.</p>
    <h2>Warum ein eigener Static Site Generator?</h2>
    <p>Für mich wichtig war die Möglichkeit, möglichst viel Kontrolle darüber zu haben, welche Seiten erstellt werden sollen. Viele Generatoren haben z. B. Schwierigkeiten damit, dynamisch Seiten zu erzeugen. Z. B. eine Seite für jede verwendete Blog-Kategorie, ohne manuell hier Hand anlegen zu müssen.</p>
  </article>
{% endblock %}