{% extends '_layouts/default.njk' %}

{% set themeColor = '#dde5ed' %}

{% from '_components/defaultPageHeader.njk' import defaultPageHeader %}
{% from '_components/articleTeaser.njk' import articleTeaser %}

{% block content %}
  {{ defaultPageHeader() }}
  <div class="page-content">
    <h1>Alle Beiträge</h1>
    {% for entry in collections.blog %}
      {{ articleTeaser(
        title = entry.matter.data.title,
        url = entry.filename,
        date = entry.matter.data.date,
        tags = entry.matter.data.tags
      ) }}
    {% endfor %}
  </div>
{% endblock %}