{% layout "_layouts/default" %}

{% block content %}
  {% include '_components/default-header' %}
  <h1>Startseite</h1>
  <p>Halloh!</p>
  <p>Globals Test: {{ globals.test.foo }}</p>
  <p><a href="/autor">Autor</a></p>
{% endblock %}
