{% extends '_layouts/default.njk' %}

{% from '_components/defaultPageHeader.njk' import defaultPageHeader %}

{% block content %}
  {{ defaultPageHeader() }}
  <p>Hier werden alle Blogeinträge aufgelistet :3</p>
{% endblock %}